[alias]
  st = status
  co = checkout
  br = branch
  ch = checkout

[user]
  name = Jeff Johnson
	email = energy.nexus@gmail.com

[credential]
  helper = cache --timeout=3600

[color]
  ui = true

[core]
  editor = vim

[grep]
 extendedRegexp = true

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  whitespace = trailing-space
	pager = /usr/bin/less
[push]
	default = simple
